<ngx-datatable #table
    class="material"
[rows]="body"
[columnMode]="confiNgxDataTable.columnMode" 
[headerHeight]="confiNgxDataTable.headerHeight"
[footerHeight]="confiNgxDataTable.footerHeight"
[rowHeight]="confiNgxDataTable.rowHeight"
[selectionType]="'checkbox'" 
>
<ngx-datatable-column 
[width]="confiNgxDataTable.width"
[sortable]="confiNgxDataTable.sortable"
[canAutoResize]="confiNgxDataTable.canAutoResize"
[draggable]="confiNgxDataTable.draggable"
[resizeable]="confiNgxDataTable.resizeable"
[headerCheckboxable]="confiNgxDataTable.headerCheckboxable"
[checkboxable]="confiNgxDataTable.checkboxable">
</ngx-datatable-column>
<ngx-datatable-column name="Title Code" prop="code" [flexGrow]="1" >
    <ng-template let-sort="sortFn" ngx-datatable-header-template>
        <span title="Title Code" class="datatable-header-cell-label draggable ngxcolumnnamesize" (click)="sort()">Title Code</span>
    </ng-template>
  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
    <font color="#4A4A4A">{{row.code}}</font>
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Title Name" prop="name" [flexGrow]="1">
    <ng-template let-sort="sortFn" ngx-datatable-header-template>
        <span title="Title Name" class="datatable-header-cell-label draggable ngxcolumnnamesize" (click)="sort()">Title Name</span>
    </ng-template>
  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
    <font color="#4A4A4A">{{row.name}}</font>
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Action" [flexGrow]="1" [sortable]="false">
    <ng-template ngx-datatable-header-template>
          <span title="Action"  class="datatable-header-cell-label draggable ngxcolumnnamesize" style="text-align: center">
            <p>Action</p> 
          </span>
       
    </ng-template>
    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"  ngx-datatable-cell-template>
        
          <div class="controls" style="color: #888788" [ngStyle]="{'text-align': confiNgxDataTable.alignAction}">
            <!-- <list-view-button (click)="actionState = 'edit';id = row.id;titleView = 'View';clickStatus = false"></list-view-button>&nbsp;
            <list-delete-button (click)="onClickDelete(row.id);$event.stopPropagation(); " style="cursor: pointer;"></list-delete-button> -->
          </div>
        
      </ng-template>
  </ngx-datatable-column>
<ngx-datatable-footer >
<ng-template  #footer ngx-datatable-footer-template 
let-rowCount="rowCount"
let-pageSize="pageSize"
let-selectedCount="selectedCount"
let-curPage="curPage"
let-offset="offset"
let-isVisible="isVisible">
  <div style="display: flex;margin-left: 10px">
    <div style="margin-top: 5px"> View</div>
    <div style="margin-left: 10px;margin-right: 10px">
      <input  class="input is-small" type="number" min="1" max="10" style="width: 50px">
    </div>
    <div style="margin-top: 5px;margin-right: 50px">Record</div>          
    <div style="width: 100px;height: 25px;border: 1px solid #9B9B9B;background-color: #F8F8F8">
      <!-- <div style="margin-top: 2px;text-align:center;color: black;white-space: nowrap">Page: {{curPage}}/{{rowCount/pageSize | round }}</div>        -->
    </div>
  </div>
<datatable-pager #footer
    [pagerLeftArrowIcon]="'datatable-icon-left'"
    [pagerRightArrowIcon]="'datatable-icon-right'"
    [pagerPreviousIcon]="'datatable-icon-prev'"
    [pagerNextIcon]="'datatable-icon-skip'"
    [page]="curPage"
    [size]="pageSize"
    [count]="rowCount"
    [hidden]="!((rowCount / pageSize) > 1)"
    (change)="table.onFooterPage($event)">
</datatable-pager>
</ng-template>
</ngx-datatable-footer>  
</ngx-datatable>