<div class="flex justify-between bg-blue-200 w-full p-5">
    <div class="flex flex-1">
        <h1>Asia Center</h1>    
    </div>
    <div class="flex flex-1">
        <ul class="flex flex-1 justify-evenly">
            <li class="cursor-pointer" [routerLink]="['/config/meter']" routerLinkActive="active">Miter</li>
            <li class="cursor-pointer" [routerLink]="['/config/rate']" routerLinkActive="active">Rate</li>       
            <li class="cursor-pointer" (click)="logout()">Logot</li>       
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
